.header-title {
  font-size: 4.5em;
  line-height: 0.75em;
}

.header-subtitle {
  font-size: 1.5em;
  margin-top: 1.5em;
  color: rgb(155, 155, 155);
}

.jar-container, .jar-container-shaking {
  position: relative;
  text-align: center;
}

.the-jar {
  margin-top: 2em;
}

.jar-container-shaking {
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}

.jar-container:hover {
  animation: shake 0.75s;
  cursor: pointer;
  animation-iteration-count: infinite;
}

.jar-amount {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.5em;
  font-size: 3em;
  color: rgb(26, 26, 26);
}

.jar-amount > span {
  font-size: 0.5em;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(-2deg); }
  40% { transform: rotate(-2deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(1deg); }
  80% { transform: rotate(2deg); }
  90% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.selected-activity {
  margin-top: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 300px;
  border: 2px dashed gray;
}

.selected-activity > span {
  font-size: 1.15em;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
}

.logout-btn {
  font-size: 1em !important;
  background-color: rgb(221, 47, 24) !important;
  border: 0 !important;
  box-shadow: none !important;
  position: absolute;
  top: 1em;
  right: 1em;
}